.user-form {
    background-color: #ef233c;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    width: 345px;
    position: relative;
    color: #edf2f4;
}

.user-form h2 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 10px;
}

.form-group input {
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    background: none;
    border: 2px solid #edf2f4;
    border-radius: 5px;
    color: #edf2f4;
}

.form-group input:focus {
    outline: none;
}

.form-group input::placeholder {
    color: #edf2f4;
}

.user-form .btn {
    width: 100%;
    color: #ef233c;
    background-color: #edf2f4;
}

.user-form .btn:hover {
    color: #edf2f4;
    background-color: #ef233c;
}